div {
	width: 600px;
	margin-bottom: 1em;
}

div#inventory {
	border: 2px solid #FF6666;
}

div#yellow {
	border: 2px solid #FFFF99;
}

div#blue {
	border: 2px solid #00CCFF;
}

div#composite {
	border: 2px solid black;	
	padding: 2em;
}

table {
        border-collapse:collapse;
}

table, td, th {
        padding: 2px;
        border:1px solid black;
}

span .price {
	text-align: right;
}